Variables

In [17]:
a = 5
a

5

In [18]:
b = 'Chaitanya'
b
a

5

In [19]:
c = "Chaitanya"
c

'Chaitanya'

In [20]:
print(a)
print(b)

5
Chaitanya

In [21]:
x = str(5)    
y = int(5)    
z = float(5)

print(x)
print(y)
print(z)

5
5
5.0

In [22]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [23]:
p = 'Chaitanya'
P = 'Purkar'

In [24]:
print(p)
print(P)

Chaitanya
Purkar

In [25]:
print(p + ' ' + P)

Chaitanya Purkar

In [26]:
print(a+y)

10

In [27]:
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
variable = 5
vari_able = 5
_variable = 5
Variable = 5
VARIABLE = 5
variable5 = 5

In [29]:
5variable = 5

SyntaxError: invalid syntax (3299328541.py, line 1)

In [30]:
vari-able = 5

SyntaxError: cannot assign to operator (225172146.py, line 1)

In [31]:
var$able = 5

SyntaxError: invalid syntax (3601564415.py, line 1)

In [32]:
vari able =5

SyntaxError: invalid syntax (1683983009.py, line 1)

Datatypes

In [33]:
x1 = 5
x2 = 'chaitanya'
x3 = 5.0
x4 = True
x5 = 5j
x6 = [1,2,3]
x7 = {1,2,3}
x8 = (1,2,3)
x9 = {'name' : 'chaitanya', 'college' : 'mitwpu pune'}
x10 = None

In [34]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

Numbers

In [35]:
num1 = 5
num2 = -5
num3 = 5555555555555555555555555
num4 = 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [36]:
import sys
print(sys.getsizeof(num4))
print(sys.getsizeof(num3))
print(sys.getsizeof(num1))

76
36
28

In [37]:
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

In [38]:
float1 = 5.0
float2 = -5.5
float3 = 123e4

In [39]:
print(type(float1))
print(type(float2))
print(type(float3))

<class 'float'>
<class 'float'>
<class 'float'>

In [40]:
com1 = 0+1j
com2 = 5j
com3 = 1+2j
com4 = -5j

In [41]:
print(type(com1))
print(type(com2))
print(type(com3))
print(type(com4))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [42]:
int1 = int(float1)
int2 = int(com1)

TypeError: can't convert complex to int

In [43]:
complex1 = complex(num1)

In [44]:
complex1

(5+0j)

Strings

In [45]:
X = '''Hello everyone myself Chaitanya Purkar
I am from Pune 
'''
print(X)

Hello everyone myself Chaitanya Purkar
I am from Pune

In [46]:
type(X)

str

In [47]:
Y = """Hello everyone myself Chaitanya Purkar
I am from Pune"""
print(Y)

Hello everyone myself Chaitanya Purkar
I am from Pune

In [48]:
Z = 'chaitanya'
print(Z[0])
print(Z[1])
print(Z[2])
print(Z[3])
print(Z[4])
print(Z[5])
print(Z[6])
print(Z[7])
print(Z[8])

c
h
a
i
t
a
n
y
a

In [49]:
print(len(Z))

9

In [50]:
print(len(X))

55